.footer {
  background-color: rgb(29, 116, 167);
  &__inner {
    padding: 24px 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__logo {
      display: inline-block;
      align-self: flex-end;
      color: white;
    }
    &__links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &__item {
        margin: 0 80px;
        text-align: left;
        & > p {
          text-transform: capitalize;
          color: rgb(255, 168, 38);
        }
        li {
          margin: 5px 0;
        }
        & > a {
          text-decoration: none;
          font-size: 16px;
          line-height: 20px;
          transition: 0.3s ease;
          &:hover,
          &.--active {
            color: $primary-color;
          }
        }
      }
      .follow-us {
        ul {
          display: flex;
          li {
            margin: 5px 8px 5px 0;
          }
        }
        .icon-facebook {
          color: white;
          &:hover {
            color: chocolate;
          }
        }
      }
    }
  }
}
