.header {
  width: 100%;
  background-color: #ace4df;
  position: sticky;
  box-shadow: 1px 1px 15px $light-grey;
  top: 0;
  z-index: 999;
  position: sticky;
  top: 0;
  &__inner {
    padding: 10px 50px;
    &__logo {
      img {
        width: 100px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 1px 1px 5px rgb(56, 46, 46);
      }
    }
    &__menu {
      a {
        font-size: 20px;
        color: $purple;
        &:hover,
        &.--active {
          color: #e6962e;
          span {
            border-bottom: 2px solid $purple;
          }
        }
        margin: 0 12px;
      }
    }
    .button--login {
      height: 40px;
      width: 100px;
      background: rgb(36, 17, 143);
      outline: none;
      color: white;
      border: none;
      &:hover {
        background-color: #ebae5f;
        color: $black;
      }
    }
  }
}
