.header {
  width: 100%;
  background-color: rgb(29, 116, 167);
  position: sticky;
  top: 0;
  z-index: 998;
  position: sticky;
  height: 95px;
  top: 0;
  &__inner {
    padding: 10px 50px;
    &__title {
      color: white;
      font-size: 24px;
      text-transform: capitalize;
    }
    &__logo {
      &__admin {
        opacity: 0 !important;
      }
      img {
        width: 150px;
        height: 80px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
    &__menu {
      & > i {
        font-size: 18px;
        padding-top: 10px;
        color: white;
        &:hover {
          cursor: pointer;
          color: #ff9100 !important;
        }
      }
      & > a {
        font-size: 20px;
        &:hover,
        &.--active {
          & > span,
          .header__inner__menu > i {
            color: #ff9100 !important;
          }
          & > span {
            border-bottom: 2px solid rgb(230, 93, 1);
          }
        }
        span {
          color: white;
        }
        margin: 0 16px;
      }
    }
    .button--login {
      height: 40px;
      width: 100px;
      background: rgb(255, 143, 38);
      outline: none;
      color: rgb(22, 21, 21);
      border: none;
      &:hover {
        background-color: #ffc982;
        color: $black;
      }
    }
  }
}
