.header {
  width: 100%;
  background-color: rgb(27, 23, 23);
  position: sticky;
  box-shadow: 1px 1px 15px black;
  top: 0;
  z-index: 999;
  position: sticky;
  height: 95px;
  top: 0;
  &__inner {
    padding: 10px 50px;
    &__logo {
      img {
        width: 100px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 1px 1px 5px rgb(56, 46, 46);
      }
    }
    &__menu {
      i {
        color: $purple;
        font-size: 18px;
        padding-top: 10px;
        &:hover {
          color: #e6962e;
        }
      }
      a {
        font-size: 20px;
        color: $purple;
        &:hover,
        &.--active {
          i {
            color: #e6962e !important;
          }
          color: #e6962e;
          span {
            border-bottom: 2px solid $purple;
          }
        }
        margin: 0 16px;
      }
    }
    .button--login {
      height: 40px;
      width: 100px;
      background: rgb(36, 17, 143);
      outline: none;
      color: white;
      border: none;
      &:hover {
        background-color: #ebae5f;
        color: $black;
      }
    }
  }
}
