.side-bar {
  height: 100vh;
  position: fixed;
  // background-color: $white;
  background-color: #f3f3f3;
  // box-shadow: 1px 1px 15px $light-grey;
  &__inner {
    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &__items {
      width: 100%;
      &--logo {
        height: 95px;
        background-color: rgb(248, 132, 0);
        width: 100%;
        color: honeydew;
        position: relative;
        & > i {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 20px;
          color: rgb(7, 2, 66);
        }
      }
      &--menu {
        padding: 32px 0;
        box-sizing: border-box;
        &__item {
          height: 50px;
          width: 100%;
          padding: 0 24px;
          box-sizing: border-box;
          align-items: center;
          &--active {
            color: rgb(0, 3, 204) !important;
          }
          .temp {
            width: 5px;
          }
          &:hover {
            cursor: pointer;
            border-left: 5px solid rgb(245, 163, 40);
            a {
              color: rgb(0, 3, 204) !important;
            }
            & > .temp {
              display: none;
            }
          }

          & > img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
          a {
            color: rgb(78, 71, 71);
            margin-left: 15px;
          }
          &:not(:last-child) {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}
