.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.contents-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.j-center {
  justify-content: center;
}
.link {
  color: #f0860e;
  &:hover {
    color: blue;
  }
}
.app__admin {
  &__body {
    width: 100%;
    margin-left: 350px;
    background: rgb(218, 218, 218);
    height: 100vh;
  }
}
.app {
  transition: 0.25s ease;
  background-color: #e7fffd;
  min-height: 100vh;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &__body {
    position: relative;
    width: 100%;
    display: flex;
    margin: 0;
  }

  &__content {
    padding: 48px 24px;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    &__sidebar {
      width: 100%;
      overflow-y: auto;
      height: 100%;
      padding: 0 !important;
    }
    &__inner {
      width: 100%;
      margin: 0 auto;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none !important;
}

.fade_popup {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

.fade {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lb {
  margin-top: 10px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  color: #089453;
}

.invalid-feedback {
  color: red;
  font-size: 16px !important;
}
.border-corner {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
