.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.contents-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.align__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.j-center {
  justify-content: center;
}
.link {
  color: white;
  &:hover {
    color: rgb(255, 153, 0);
  }
}
.app__admin {
  &__body {
    width: 100%;
    &--no-sidebar {
      transition: margin-left 0.5s;
      margin-left: 80px;
    }
    transition: margin-left 0.5s;
    margin-left: 300px;
    min-height: 100vh;
  }
}
.app {
  background-image: url("../../assets/images/background_login_register_forgotpass_resetpass.png");
  background-position: center;
  background-size: cover;
  transition: 0.25s ease;
  min-height: 100vh;
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &__body {
    position: relative;
    width: 100%;
    display: flex;
    margin: 0;
  }

  &__content {
    padding: 48px 24px;
    width: 100%;
    overflow-y: auto;
    min-height: 100vh;
    &__sidebar {
      width: 100%;
      overflow-y: auto;
      height: 100%;
      padding: 0 !important;
    }
    &__inner {
      width: 100%;
      margin: 0 auto;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none !important;
}

.fade_popup {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

.fade {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lb {
  margin-top: 10px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  color: #089453;
}

.invalid-feedback {
  color: red;
  font-size: 16px !important;
}
.border-corner {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
//table
.makeStyles-container-4,
.makeStyles-container-2 {
  max-height: none !important;
}
.makeStyles-container-12,
.makeStyles-container-8,
.makeStyles-container-10,
.MuiTableContainer-root {
  max-height: 590px !important;
}
body {
  font-family: "GT-Walsheim" !important;
}
// table
.MuiPaper-root {
  .MuiTableContainer-root {
    table {
      thead {
        tr {
          th {
            background: black;
            color: white;
          }
        }
      }
      tbody {
        tr {
          td {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.pointer {
  cursor: pointer;
}
//spinner
.spinner-border {
  position: absolute;
  right: 10px;
  top: calc(50% - 15px);
  width: 15px !important;
  height: 15px !important;
  border: 0.0075em solid currentColor !important;
  border-right-color: transparent !important;
}
//progress
.progress {
  height: 4px !important;
  background-color: #cfcfcf86 !important;
  &-bar {
    background-color: #005799 !important;
  }
}
// calendar
.fc-header-toolbar {
  background: #2c3e50;
  h2 {
    color: wheat;
  }
}
.fc-daygrid-event {
  border: none;
}
.ant-tabs-tab {
  font-size: 24px;
}
.ant-tabs-tab-active,
.ant-tabs-tab-btn {
  color: rgb(190, 52, 2) !important;
}
.ant-empty-normal {
  margin: 0;
}

// toast
.Toastify__toast--error {
  background: #ffbfb8 !important;
  color: red;
}
.site-collapse-custom-collapse .site-collapse-custom-panel {
  margin-bottom: 24px;
  overflow: hidden;
  border: 0px;
  border-radius: 2px;
}
.hide {
  display: none !important;
}
.ant-select-multiple {
  max-width: 500px;
  width: 100%;
}
