.list{
    h1{
        margin-bottom: 30px;
        font-size: 55px;
        text-align: center;
        color: #E24B3B;
    }
    .new__feedback{
        margin-bottom: 30px;
        margin-left: 75%;   
        .btn-new{
            background-color: rgba(158, 154, 154, 0.808);
            border: none;
            color: black;
            padding: 10px 15px;
            text-align: right;
            text-decoration: none;
            display: inline-block;
            font-size: 30px; 
            border-radius: 8px;
            text-justify: auto;
            font-weight: bold;
            outline: none;
        }
    }
    .list_feedback{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .list-child {
            background-color: rgba(158, 154, 154, 0.808);
            padding: 10px;
            border-radius: 8px;
            margin-bottom: 15px;
            width: 80%;
            p{
                padding: 5px;
                color: rgb(189, 8, 44);
            }
            h2{
                background-color:white;
                padding: 5px;
                color: #38495A;
                border-radius: 8px;
                font-weight: bold;
            }
        }
    }
}