.list{
    h1{
        margin-bottom: 30px;
        font-size: 55px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #E24B3B;
    }
    .new__feedback{
        margin-bottom: 30px;
        margin-left: 68%;   
        .btn-new{
            background-color: #008CBA;
            border: none;
            color: white;
            padding: 15px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px; 
            border-radius: 8px;
            text-justify: auto;
            width: 170px;
            font-weight: bold;
        }
    }
    .list_feedback{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .list-child {
            background-color: rgb(241, 229, 212);
            padding: 10px;
            border-radius: 8px;
            margin-bottom: 15px;
            width: 80%;
            p{
                padding: 5px;
                color: rgb(189, 8, 44);
            }
            h2{
                background-color:rgb(117, 192, 235);
                padding: 5px;
                color: #38495A;
                border-radius: 8px;
                font-weight: bold;
            }
        }
    }
}